<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="images" href="/assets/images">
      <ion-icon aria-hidden="true" name="images"></ion-icon>
      <ion-label>Images</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos" href="/assets/videos">
      <ion-icon aria-hidden="true" name="videocam"></ion-icon>
      <ion-label>Videos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documents" href="/assets/documents">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>Documents</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

