<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="links">
    <a class="link" routerLink="/assets/images">Images</a>
    <a class="link" routerLink="/assets/videos">Videos</a>
    <a class="link" routerLink="/assets/documents">Documents</a>
  </div>

</ion-content>
